@model BookStore.Models.AdminDetails
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/MyJs/Validation.js"></script>
<script src="~/Scripts/MyJs/preventBack.js"></script>
<div class="box">
    @using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post, new { id = "myForm", @enctype = "multipart/form-data" }))
    {
        @*@Html.AntiForgeryToken()*@
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <table>
            <caption class="ad-caption">Admin Form</caption>
            <tr>
                <td>@Html.Label("First name:")</td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.FirstName, new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })<br />
                    <span id="firstNameErrorMessage" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Last name:")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.LastName, new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })<br />
                    <span id="lastNameErrorMessage" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Date of birth:")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "date-of-birth", type = "date", max = DateTime.Now.ToString("yyyy-MM-dd"), @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })<br />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Age:")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(model => model.Age, new { @style = "width: 200px;", @readonly = "readonly" })
                    @*@Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })*@<br />
                    <span id="ageErrorMessage" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Email id:")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.EmailId, new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })<br />
                    <span id="emailErrorMessage" class="text-danger"></span>

                </td>
            </tr>

            <tr>
                <td>
                    @Html.Label("Password:")
                </td>
            </tr>
            <tr>
                <td>
                    <abbr title="expects uppercase,lowercase,digits,special characters">
                        @Html.PasswordFor(m => m.Password, new { @style = "width: 200px;" })
                    </abbr>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <br />
                    <span id="passwordErrorMessage" class="text-danger"></span>


                </td>
            </tr>
            <tr>
                <td>@Html.Label("Confirm Password:")</td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })<br />
                    <span id="confirmPasswordErrorMessage" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Phone number:")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })<br />
                    <span id="phoneNumberErrorMessage" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Gender:")
                </td>
            </tr>
            <tr>
            <tr>
                <td>@Html.RadioButtonFor(m => m.Gender, "Male")@Html.Label("Male")
                &nbsp;@Html.RadioButtonFor(m => m.Gender, "Female")@Html.Label("Female") 
                &nbsp;
                    @Html.RadioButtonFor(m => m.Gender, "Others")@Html.Label("Others")<br />
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("State:")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.State, new List<SelectListItem>
                    {
                        new SelectListItem{Text="Goa",Value="Goa"},
                        new SelectListItem{Text="Maharastra",Value="Maharastra"},
                        new SelectListItem{Text="Karnataka",Value="Karnataka"},
                         new SelectListItem{Text="Punjab",Value="Punjab"},
                          new SelectListItem{Text="Rajasthan",Value="Rarajasthan"}
                      }, "Select State", new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })<br />
                </td>

            </tr>
            <tr>
                <td>
                    @Html.Label("City:")<br />
                    @Html.DropDownListFor(model => model.City, new SelectList(new List<string>()), "Select City", new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Username:")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.UserName, new { @style = "width: 200px;" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })<br />
                    <span id="UserNameErrorMessage" class="text-danger"></span>

                </td>
            </tr>
            <tr>
                <td>Upload image:</td>
            </tr>
            <tr>
                <td>
                    <input type="file" id="adminImage" name="adminImage" required /><br />
                    <span id="fileErrorMessage" class="text-danger"></span>
                </td>
            </tr>

        </table>

        <div class="register-button-submit-reset">
            <input type="submit" id="submit_form" value="Submit" class="submit-btn" />@*<input type="reset" class="reset-inter-spacing" id="submit_form" value="Reset" />*@
            <button type="reset" class="reset-btn"><a href="@Url.Action("AdminReset","Admin")" class="reset-btn">Reset</a></button>
        </div>
        <div class="successful">
            @ViewBag.SuccessMessage  
        </div>
        <div class="text-danger"> @ViewBag.FailureMessage</div>
    }

</div>


